html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header-container {
  display: flex;
  flex-direction: column;
  height: 300px;
}
header {
  background-color: black;
  color: white;
  border: 2px solid orange;
  text-align: center;
  padding: 10px;
  flex: 3;
}
.lightgrey-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#logo {
  padding: 10px 20px 10px 30px;
  display: flex;
}
#socmedier {
  padding: 20px 20px 20px 20px;
  font-size: larger;
}
#header2 {
  background-color: grey;
  color: orange;
  border: 2px solid orange;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  padding-top: 10px;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  background-color: lightgrey;
  color: black;
  border: 2px solid orange;
  text-align: left;
  padding: 10px 10px 10px 25px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}
.Home {
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  transition: 0.2s ease-out;
  font-size: larger;
}
.Home:hover {
  color: black;
  border: 3px solid black;
  transform: translateY(-4px);
}
.container {
  border-right: 2px solid orange;
  border-left: 2px solid orange;
  display: flex;
  flex: 1;
}
#innehåll {
  padding: 20px;
  flex: 3;
}
h5 {
  margin: 5px 0 5px 0;
}
.pic1 {
  float: left;
  margin-top: 1em;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 10px;
  height: 300px;
  width: 400px;
}
.pic2 {
  float: right;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 10px;
  height: 180px;
  width: 250px;
}
#sidebar {
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
}
#minibar {
  width: 300px;
  height: 400px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
}
#searchbar {
  margin: 5px 5px 5px 5px;
}
ul {
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: 30px;
}
#tags {
  display: flex;
}
li {
  margin: 0 5px 5px 0;
}
#search {
  text-align: center;
}
#linje2 {
  border-bottom: 1px solid black;
  box-shadow: 0px 2px 2px 1px;
  width: 75%;
}
#aboutMe {
  border-right: 2px solid orange;
  border-left: 2px solid orange;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 40px 10px;
}
#ovanför {
  background-color: lightgrey;
  height: 70px;
  width: 650px;
  border: 1px solid black;
  margin-left: 10px;
  display: flex;
}
#ovanför img {
  padding: 10px;
  margin-right: 10px;
}
#länkar {
  padding: 20px;
  margin-left: 80px;
}
#länkar .btn1 {
  border-right: 1px solid black;
  padding-right: 5px;
}
#nedanför {
  height: 120px;
  width: 650px;
  border: 1px solid black;
  margin-left: 10px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  height: 200px;
}
#footer2 {
  background-color: grey;
  color: white;
  border: 2px solid orange;
  padding: 10px;
  flex: 3;
  display: flex;
  justify-content: space-between;
}
#länkar2 {
  display: flex;
}
#länkar2 ul {
  margin: 10px 10px 10px 10px;
}
#länkar2 li {
  margin-top: 10px;
}
.button {
  font-size: 15px;
  text-align: center;
  padding: 15px;
}
#PilUpp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}
.backToTop-knapp {
  color: orange;
  border: 2px solid orange;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  transition: 0.2s ease-out;
}
.backToTop-knapp:hover {
  color: orangered;
  border: 3px solid orangered;
  transform: translateY(-4px);
}
footer {
  background-color: lightgrey;
  color: black;
  border: 2px solid orange;
  text-align: right;
  padding: 10px;
  flex: 1;
  display: flex;
  justify-content: space-between;
}
#copyright {
  padding: 20px 20px 20px 20px;
}
#mellanrum {
  width: 150px;
}
@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}
